
.tooltip {
    position: absolute;
    width: 280px;
    color: white;
    background: rgba($color: #000000, $alpha: .7);
    border-radius: 6px;
    .tooltipContent {
        padding: 12px;
        line-height: 18px;
    }
}
