.PosterCategories {
    .PostersRow {
        display: flex;
        overflow-x: scroll;
        gap: 12px;

        .SinglePoster {
          text-align: center;
          cursor: pointer;
          height: 330px;

          img {
            width: 200px;
            height: 300px;
            border-radius: 8px;
          }
        }
    }
}