.PosterCategories {
    .PostersRow {
        display: flex;
        overflow-x: scroll;
        gap: 12px;

        .SinglePoster {
          width: 200px;
          text-align: center;
          cursor: pointer;

          img {
            border-radius: 8px;
          }
        }
    }
}